* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:  'Georgia', 'Merriweather', serif;
  // height: 100%;
  line-height: 1.6em;
  // max-width: 978px;

  &.no-scroll {
    overflow-y: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nospace {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.app-body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .custom-bootstrap-menu,
  .footer {
    flex-shrink: 0;
    // Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  }

  .container {
    flex: 1 0 auto;
    //* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  }
}

.main {
  h1 {
    margin-bottom: 40px;
  }
}
