$button-background-color: $hd-active-menu-item-color;
$arrow-color: $hd-white;
$visibility-opasity: .5;

#backtotop {
  background-color: $button-background-color;
  bottom: 20px;
  color: $arrow-color;
  display: inline-block;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  opacity: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  // visibility: hidden;
  width: 36px;
  z-index: -1;

  a {
    outline: none;
    text-decoration: none;
  }

  &.visible {
    opacity: $visibility-opasity;
    // visibility: visible;
    z-index: 999;
  }
}
