$overlay-background: rgba(0, 0, 0, .5);
$ct-overlay-background: rgba(60, 55, 51, .8);
$ct-background-color: #4b4641;
$ct-text: #eaeaea;
$ct-li-border-color: #55493e;

.overlay-b {
  background: $overlay-background;
  bottom: 0;
  display: block;
  left: 0;
  // opacity: 1;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}

.contacts {
  background-color: $ct-background-color;
  background-image: url('/src/images/imgpsh_fullsize.jpg');
  background-position-y: 15%;
  background-repeat: no-repeat;
  background-size: cover;
  // padding-bottom: 12em;
  color: $ct-text;
  font-size: 14px;
  position: relative;
  width: 100%;

  @media (min-width: 992px) {
    .col-md-6 {
      margin-left: 0%;
      width: 50%;
    }
  }

  div {
    overflow: visible;
  }

  h6 {
    font-size: 1.2em;
    font-weight: normal;
    line-height: normal;
  }

  a {
    color: $ct-text;
    text-decoration: none;
  }

  ul {
    &.social {
      margin-top: 41px;
      padding: 0;
      @media (min-width: 768px) and (max-width: 992px) {
        margin-left: 25.85%;
      }
      @media (max-width: 768px) {
        margin-top: 10px;
      }
    }
  }

  .overlay-b {
    background: $ct-overlay-background;
    position: relative;
  }

  .contact {
    max-width: 978px;
    padding: 10px 5px;

    li>i {
      display: block;
      font-size: 16px;
      left: 0;
      position: absolute;
      text-align: center;
      top: 3px;
      width: 30px;
    }
  }

  .linklist>li {
    border-bottom: 1px solid;
    border-color: $ct-li-border-color;
    clear: both;
    display: block;
    margin-bottom: 15px;
    padding: 0 0 15px;
    padding-left: 40px;
    position: relative;

    &:last-child {
      border: 0;
    }
  }
}
