$white: #fff;
$footer-text: #eaeaea;
$footer-background: #272421;
$black: #100719;
$red: #c10020;

$source-sans-pro: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$max-width: 960px;

.footer {
  background-color: $footer-background;
  clear: both;
  color: $footer-text;
  height: 6em;
  position: relative;
  z-index: 10;
  // margin-top: -3em;

  p {
    left: 13%;
    padding: 25px 0;
    position: absolute;
  }

  p>a {
    color: $white;
    text-decoration: none;
  }
}
