.fotorama__wrap {margin: 0 auto;}

#container {
  max-width: 978px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
  width: 100%
}

#description, #coaches {
  margin-top: -20px;
  margin-bottom: 20px;
  background-color: #fff;
  width: 100%;
  position:relative;
  // overflow: auto;

  .text {
     
    color: #100719; //rgba(255, 255, 255, 1);
    text-shadow: rgba(255,255,255,0.5) 0px 1px 8px;
    width: 100%;
    max-width: 978px;
    margin: 5vw auto;
    padding: 0 9px 0 20px;
    
    // transform: translateY(17%);
    h1 {
      font-size: calc(30px + (6)*(100vw - 395px)/(885));
      text-shadow: rgba(0,0,0,0.7) 1px 1px 1px;
      // margin-bottom: 7%;
    }
    h2 { 
      font-size: calc(22px + (8)*(100vw - 395px)/(885));
      color: rgb(255, 131, 20);
    }
    h3 {
      font-size: calc(16px + (8)*(100vw - 395px)/(885));
      color: rgb(255, 131, 20);
      text-shadow: rgba(115, 56, 3, 0.1) 1px 1px 2px;
      // margin-bottom: 7%;
    }
    p {
      // font-size: calc(1vw + 0vh + 1.2vmin);
      //calc(14px+(21px-14px)*(100vw-400px)/(1280-400));
      //calc(minSize+(maxSize-minSize)*(100vw-minScreen)/(maxScreen-minScreen));
      font-size: calc(14px + (7)*(100vw - 395px)/(885));
      line-height: 1.3em;
    }
    p>img {
      max-width: 350px;
      max-height: 400px;
      float: right;
      clear: left;
      padding: 0 0 20px 20px;

      @media (max-width: 430px) {
      
        float: none;
      
      }
    }
    li { font-size: calc(14px + (7)*(100vw - 395px)/(885));}
  }
}