$overlay-background: rgba(0, 0, 0, .5);
$overlay-text-color: #fff;
$overlay-close-color: $overlay-text-color;
$overlay-close-background: #f00;
$overlay-p-color: rgba($overlay-text-color, .9);

.effects {
  // padding-left: 15px;

  .box {
    background-repeat: no-repeat;
    background-size: 100% 400px; //contain;
    height: 400px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
  }

  .box.hover {
    .overlay {
      bottom: 0;
      opacity: 1;
    }
  }

  // ============================================================
  //  EFFECT 1 - SLIDE IN BOTTOM
  // ============================================================

  .desc {
    bottom: 0;
    left: 0;
    padding: 30px;
    position: absolute;
    right: 0;
    // top: 15%;
  }

  .overlay {
    background: $overlay-background;
    bottom: -400px;
    display: block;
    //height: 0;

    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .6s;
    //width: 100%;
    z-index: 20;

    .overlay-close {
      background-color: $overlay-close-background;
      border-radius: 3px;
      color: $overlay-close-color;
      cursor: pointer;
      font-size: 2rem;
      height: 36px;
      line-height: 36px;
      position: absolute;
      right: 5px;
      text-align: center;
      top: -5px;
      transition: all .3s ease;
      width: 36px;
      z-index: 2;

      &.hidden {
        display: none;
      }

      &:hover {
        background-color: lighten($overlay-close-background, 10%);
      }

      .stripes {
        background-color: transparent;
        height: 2px;
        left: 50%;
        // transition: all 0.3s ease;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
        width: 24px;

        &::before,
        &::after {
          background-color: $overlay-close-color;
          content: '';
          height: 100%;
          left: 0%;
          // transition: all 0.3s ease;
          position: absolute;
          width: 100%;
        }
      }

      .stripes::before {
        transform: translateY(0%) rotate(45deg);
      }

      .stripes::after {
        transform: translateY(0%) rotate(-45deg);
      }
    }

    // Replaced the button
    // a.close-overlay {
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   z-index: 100;
    //   width: 45px;
    //   height: 45px;
    //   font-size: 20px;
    //   font-weight: 700;
    //   color: #fff;
    //   line-height: 45px;
    //   text-align: center;
    //   background-color: #000;
    //   cursor: pointer;
    //   text-decoration: none;
    //   border-radius: 24px;
    //   border-bottom-style: outset;
    // }
    // a.close-overlay.hidden {
    //   display: none;
    // }

    h3 {
      color: $overlay-text-color;
      font-size: 20px;
      letter-spacing: 3px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    a {
      &:hover,
      &:focus {
        color: $overlay-text-color;
      }
    }

    p {
      color: $overlay-p-color;
      margin: 0;
      max-height: 244px;
      overflow: hidden;
    }

    span {
      color: $overlay-text-color;
      display: block;
      margin-top: 35px;
    }
  }
}
// #effect .box:nth-child(n) {
//   margin-right: 5px;
// }
// #effect .box:first-child {
//   margin-left: -15px;
// }
// #effect .box::last-of-type {
//   margin-right: 0;
// }
// http://callmenick.com/post/image-overlay-hover-effects-with-css3-transitions



// #effect .box:hover .overlay {
//   bottom: 0;
//   opacity: 1;
// }

$text-color: #100719;
$text-shadow: rgba(255, 255, 255, .5) 0 1px 8px;

.text {
  color: $text-color; //rgba(255, 255, 255, 1);
  margin: 0 auto;
  max-width: 978px;
  padding: 0 9px 0 20px;
  text-shadow: $text-shadow;
  width: 100%;

  // transform: translateY(17%);
  h1 {
    font-size: calc(30px + (6)*(100vw - 395px)/(885));
    text-shadow: rgba(0,0,0,0.7) 1px 1px 1px;
    // margin-bottom: 7%;
  }

  h3 {
    color: rgb(255, 131, 20);
    font-size: calc(16px + (8)*(100vw - 395px)/(885));
    text-shadow: rgba(115, 56, 3, 0.1) 1px 1px 2px;
    // margin-bottom: 7%;
  }

  p {
    // font-size: calc(1vw + 0vh + 1.2vmin);
    //calc(14px+(21px-14px)*(100vw-400px)/(1280-400));
    //calc(minSize+(maxSize-minSize)*(100vw-minScreen)/(maxScreen-minScreen));
    font-size: calc(14px + (7)*(100vw - 395px)/(885));
    line-height: 1.3em;

    &.desc {
      font-size: calc(16px + (7)*(100vw - 395px)/(885));
      line-height: 1.3em;
    }
  }

  li { font-size: calc(14px + (7)*(100vw - 395px)/(885));}
}
